.header {
  background-image: url("https://picsum.photos/id/733/1920/1080/?blur=10");
  background-size: cover;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.fill-height {
  height: 100vh;
}
